@model int

    <div class="well">
        There are @Model directors here. <a id="vc" asp-area="" asp-page="/Directors/Index">See them all!</a> - &copy; 2020 - Masters Of Cinema - <a asp-area="" asp-page="/About">About</a>
    </div>