@page
@model MastersOfCinema.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<br />

<div class="AboutPageWhole">
    <h1 class="AboutPageWhole">About Masters of Cinema</h1>
    <br />
    
    <div class="AboutPageWhole">Masters of Cinema is a place that focuses on applauded film directors and their movies. Anyone can read content on the site. You may also add your favourite directors and their movies or edit the existing content. </div>
    <br/>
    <figure>
        <img class="AboutPageImage" src="~/Images/AboutPageImg.jpg" />
    </figure>

</div>