@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link href="~/css/site.css" rel="stylesheet" />

</head>


<div class="text-center">
    <br />
    <h1 class="display-4">Welcome to Masters Of Cinema</h1>
    <br />

    <p>A place for meeting your favourite directors.</p>
    <br />
    <br />
    <p class="IndexInHonour">In honour of Yasujirō Ozu (1903 – 1963).</p>
    <p class="IndexInHonour">これ を わが愛する映画監督・小津安二郎（1903〜1963）に捧げる。</p>
</div>
